{% extends 'base.html' %} {% block body %}
<main>
  {% if list_password %}
  <div class="container">
    <div class="row border">
      <div class="col col-3">
        <h4>Passwords</h4>
        {% for password in list_password %}
        <a href="{{url_for('details_pwd', password_id=password.id)}}"
          ><button type="button" class="btn btn-outline-secondary btn-sm mt-1">
            {{password.name}}
          </button></a
        ><br />
        {% endfor %}
        <form method="POST" action="">
          {{ form_create.csrf_token }} {{ form_create.name }} {{
          form_create.create(class="btn btn-primary") }}
        </form>
      </div>
      {% block details %} {% endblock %}
    </div>
  </div>
  {% else %}
  <div class="container">
    <h1>Please login to test</h1>
  </div>
  {% endif%}
</main>
{% endblock %}
