<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css  " />
    <title>Password Vault</title>
  </head>
  <body>
    <main>
      <h1>Password Vault</h1>
      <form id="passwordForm">
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" required />
        </div>
        <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" required />
        </div>

        <div class="form-group" id="pwd">
          <label for="password">Password:</label>
          <div class="password-wrapper">
            <input type="password" id="password" name="password" readonly />
            <button type="button" id="copyButton" onclick="copyPassword()">
              <ion-icon name="copy-outline"></ion-icon>
            </button>
            <button
              type="button"
              id="generatePassword"
              onclick="generatePassword()"
            >
              <ion-icon name="refresh-outline"></ion-icon>
            </button>
          </div>
        </div>

        <div class="form-group">
          <label for="url">URL:</label>
          <input type="text" id="url" name="url" />
        </div>

        <div class="form-group">
          <label for="category">Category:</label>
          <input type="text" id="category" name="category" />
        </div>

        <div class="form-group">
          <label for="length">Length password:</label>
          <input
            type="range"
            id="length"
            name="length"
            min="6"
            max="100"
            value="12"
            class="slider"
          />
          <span class="output" id="lengthOutput">12</span>
        </div>
        <div class="form-group">
          <label for="numbers">Minimum of numbers:</label>
          <input
            type="range"
            id="numbers"
            name="numbers"
            min="0"
            max="20"
            value="4"
            class="slider"
          />
          <span class="output" id="numbersOutput">4</span>
        </div>
        <div class="form-group">
          <label for="specialChars">Minimum of especial characters:</label>
          <input
            type="range"
            id="specialChars"
            name="specialChars"
            min="0"
            max="20"
            value="2"
            class="slider"
          />
          <span class="output" id="specialCharsOutput">2</span>
        </div>
        <button type="button" id="save" onclick="generatePassword()">
          Save
        </button>
      </form>
      <div class="list-password">
        <h2>Your Generated Passwords:</h2>
        <ul id="passwordList">
          <!-- List of generated passwords -->
        </ul>
      </div>
    </main>
    <script src="./js/script.js"></script>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
